.Modal {
  display: none;
}

.Modal--open {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.Modal p,
.Modal h4 {
  text-transform: uppercase;
}
